<header style=" background-image: url(../img/header-bg-{{vm.backgroundImageIndex}}.jpg)">
    <div class="container">
        <div id="ScrollTop" class="intro-text">
            <div class="intro-heading">{{"edit_yourprofile" | translate}}</div>
        </div>
    </div>
</header>


<div class="container" ng-controller="EditProfileCtrl">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center" style="margin-bottom:10px">
                <img src="{{vm.user.useravatar}}" class="avatar img-circle" alt="avatar" style="width: 100px; height: 100px;">
                <h6>{{"edit_upload_desc" | translate}}</h6>

                <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateAvatarModal" value="{{'edit_upload_button' | translate}}">
            </div>


                                    <!-- UPLOAD PHOTO MODAL -->
           <upload-modal settings="vm.avatarUploadSettings"></upload-modal>
</div>



        <!-- edit form column -->
        <div class="col-md-9 personal-info">


            <div class="alert alert-info alert-dismissable" style="margin:5px">
                <a class="panel-close close" data-dismiss="alert">×</a>
                {{"edit_share_alert" | translate}} <button class="btn btn-info" ng-click="vm.shareProfileLink()">{{"edit_share_button" | translate}}</button>
            </div>

            <div id="responseMessage" class="alert alert-info" ng-show = "vm.updateOk" style="margin:5px">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-info-circle"></i> {{vm.updateMessage | translate}}
            </div>

            <div class="alert alert-danger alert-dismissable" ng-show = "vm.error" style="margin:5px">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-info-circle"></i>{{vm.errorMessage | translate}}
            </div>

            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-primary" data-target="#tab1"
                            data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>

                        <div class="hidden-xs"> {{"edit_personalinfo" | translate}}</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="favorites" class="btn btn-default" ng-click="reRenderMap()"
                            data-target="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-home"
                                                                        aria-hidden="true"></span>
                        <div class="hidden-xs">{{"profile_house" | translate}}</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default"
                            data-target="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user"
                                                                        aria-hidden="true"></span>

                        <div class="hidden-xs">{{"edit_informations" | translate}}</div>
                    </button>
                </div>
            </div>


            <div class="well">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                      <personal-info vm="vm"></personal-info>
                    </div>
                    <div select="reRenderMap()" class="tab-pane fade in" id="tab2">
                        <house-edit vm="vm"></house-edit>
                    </div>
                    <div class="tab-pane fade in" id="tab3">
                        <informations-edit vm="vm"></informations-edit>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr>


<hobbies-modal> </hobbies-modal>   <!-- they are in the register directory -->
<sports-modal></sports-modal>
<personalphotos-modal></personalphotos-modal>


<script>
    $(document).ready(function() {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-primary");
        });
        $('button[data-toggle="tab"]').on('shown.bs.tab', function () {
            console.log("olalalalalalal");
        });
    });

</script>