<div>
    <div class="card hovercard">

        <div class="card-background">
            <img class="card-bkimg" alt="" src="{{user.useravatar}}">

        </div>
        <div class="useravatar">
            <img alt="" src="{{user.useravatar}}">
        </div>
        <div class="card-info"><span class="card-title">{{user.name + " " + user.lastname}}</span>

        </div>

    </div>

    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" ng-class="{'btn btn-primary': selectedTab === 'person','btn btn-default': selectedTab !== 'person'}" ng-click="changeTab('person')" data-target="#tab1"
                    data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>

                <div class="hidden-xs">{{"profile_personality" | translate}}</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" ng-disabled="user.house==null" id="favorites"  ng-class="{'btn btn-primary': selectedTab === 'house','btn btn-default': selectedTab !== 'house'}" ng-click="changeTab('house')"
                    data-target="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-home"
                                                                aria-hidden="true"></span>

                <div class="hidden-xs">{{"profile_house" | translate}}</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" ng-class="{'btn btn-primary': selectedTab === 'about','btn btn-default': selectedTab !== 'about'}" ng-click="changeTab('about')"
                    data-target="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user"
                                                                aria-hidden="true"></span>
                <div class="hidden-xs">{{"profile_about" | translate}}</div>
            </button>
        </div>
    </div>

    <div class="well">

        <div class="row" ng-show="personTab" id="tab1">
            <personality  user="user"></personality>
        </div>
        <div class="row" ng-show="houseTab" id="tab2">
            <house house="user.house"></house>
        </div>
        <div class="row" ng-show="aboutTab" id="tab3">
            <about user="user"></about>
        </div>

        <div class="row">
            <button class="btn btn-small pull-right" uib-tooltip="{{'profile_modal_report' | translate}}" ng-click="openReportModal()"><i class="fa fa-exclamation-circle" style="font-size: large"></i></button>
        </div>
    </div>

</div>
