<header style=" background-image: url(../img/header-bg-{{vm.backgroundImageIndex}}.jpg)">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">{{'navbar_register_button' | translate}}</div>
        </div>
    </div>
</header>


<div class="container">
    <form name="register" class="form-signin" ng-submit="vm.nextRegister()" ng-controller="RegisterCtrl">
        <div class="row">

            <h1 class="form-signin-heading text-muted">{{'register_basicinfo' | translate}}</h1>

            <input name="city" class="form-control" places-auto-complete size=80
                   ng-model="vm.informations.city" placeholder="{{'register_city' | translate}}"
                   component-restrictions="{}" autofocus=""
                   types="['geocode']" on-place-changed="vm.onCityChange()" ng-required=""/>

            <input name="name" type="text" ng-model="vm.user.name" class="form-control" placeholder="{{'register_name' | translate}}"
                   ng-minlength="2" ng-maxlength="20" required >
            <input name="lastname" type="text" ng-model="vm.user.lastname" class="form-control" placeholder="{{'register_lastname' | translate}}"
                   ng-minlength="2" ng-maxlength="20" required>
            <input name="email" type="email" ng-model="vm.user.email" class="form-control" placeholder="{{'register_email' | translate}}"
                   required>

            <input name="Password" type="password" ng-model="vm.user.password" class="form-control"
                   placeholder="{{'register_password' | translate}}" ng-required="true" ng-minlength="4">
            <input name="repassword" type="password" ng-model="vm.password" matchpw="vm.user.password"
                   class="form-control" placeholder="{{'register_passwordagain' | translate}}" ng-required="true" ng-minlength="4">

            <div class="form-group" style="padding: 5px;">
                <div class="col-lg-8">
                    <label for="gender-0">
                        <input type="radio" name="gender" ng-model="vm.user.gender" id="gender-0" value="Male" checked
                               ng-required>
                        {{'register_gender_male' | translate}}
                    </label>
                    <label for="gender-1">
                        <input type="radio" name="gender" ng-model="vm.user.gender" id="gender-1" value="Female"
                               ng-required="">
                        {{'register_gender_female' | translate}}
                    </label>
                </div>
            </div>

            <div class="form-group" style="padding-bottom: 15px;">

                <div class="checkbox col-lg-8">
                    <label><input type="checkbox" ng-model="vm.user.student" value="">{{'register_areyoustudent' | translate}}</label>
                </div>
            </div>
            <div style="padding: 10px">
                <div class="alert alert-danger" role="alert" ng-hide="register.name.$valid"
                     ng-messages="register.name.$error" ng-if="register.name.$touched">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{'register_error_enteryourname' | translate}}
                </div>

                <div class="alert alert-danger" role="alert" ng-hide="register.lastname.$valid"
                     ng-messages="register.lastname.$error" ng-if="register.lastname.$touched">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{'register_error_enteryourlastname' | translate}}
                </div>

                <div class="alert alert-danger" role="alert" ng-hide="register.email.$valid"
                     ng-messages="register.email.$error" ng-if="register.email.$touched">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{'register_error_email' | translate}}
                </div>
                <div class="alert alert-danger" role="alert" ng-hide="register.Password.$valid"
                     ng-show="register.Password.$error" ng-if="register.Password.$touched">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>

                    <div ng-messages="required"> {{'register_error_fillpassword' | translate}}</div>
                    <div ng-messages="minlength"> {{'register_error_minimumchar' | translate}}</div>
                </div>

                <div class="alert alert-danger" ng-hide="register.repassword.$valid"
                     ng-show="register.repassword.$error"
                     role="alert" ng-if="register.repassword.$touched">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>

                    <div ng-messages="matchpw"> {{'register_error_passwordmatch' | translate}}</div>
                </div>

            </div> <!-- alert div-->


        </div>
        <div class="row" ng-show="vm.userPriorities.district">
            <h1 class="form-signin-heading text-muted">{{'register_district' | translate}}</h1>

            <input places-auto-complete size=80 class="form-control"
                   ng-model="vm.informations.district" placeholder="{{'register_district' | translate}}"
                   component-restrictions="{}"
                   types="['geocode']" on-place-changed="vm.onDistrictChange()"/>
        </div>
        <div class="row" ng-show="vm.userPriorities.views">
            <h1 class="form-signin-heading text-muted">{{'register_views' | translate}}</h1>


            <div class="form-group">
                <label for="sel1">{{"register_politicalview" | translate}}</label>
                <select class="form-control" ng-model="vm.informations.politicalview" id="political">
                    <option value="Dm" selected>Doesn't Matter</option>
                    <option ng-repeat="politic in vm.politics" value="{{politic}}">{{politic | translate}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="sel1">{{"register_religiousview" | translate}}</label>
                <select class="form-control" ng-model="vm.informations.religiousview" id="religion">
                    <option value="Dm" selected>Doesn't Matter</option>
                    <option ng-repeat="religion in vm.religions" value="{{religion}}">{{religion | translate}}</option>
                </select>
            </div>
        </div>
        <div class="row" ng-show="vm.userPriorities.lifestyle">
            <h1 class="form-signin-heading text-muted">{{'register_lifestyle' | translate}}</h1>

            <div class="form-group">
                <label for="sel1">{{"register_organization" | translate}}</label>
                <select class="form-control" ng-model="vm.informations.organization" id="sel1">
                    <option value="Dm" selected>Doesn't Matter</option>
                    <option ng-repeat="organization in vm.organizations" value="{{organization}}">{{organization | translate}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="pet"><i class="fa fa-paw"></i> {{'register_pet_question' | translate}} </label>
                <select id="pet" ng-model="vm.informations.pet" name="petselect"
                        class="form-control">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option value="Yes">{{"general_yes" | translate}}</option>
                    <option value="No">{{"general_no" | translate}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="smoking">{{'register_smoke_question' | translate}}</label>
                    <select id="smoking" ng-model="vm.informations.smoking" name="smokingselect"
                            class="form-control">
                        <option value="Dm" selected>{{"general_dm" | translate}}</option>
                        <option value="Yes">{{"general_yes" | translate}}</option>
                        <option value="No">{{"general_no" | translate}}</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="drink"><i class="fa fa-glass"></i> {{'register_drink_question' | translate}}</label>
                <select id="drink" ng-model="vm.informations.drinking" name="drinkselect"
                        class="form-control">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option value="Yes">{{"general_yes" | translate}}</option>
                    <option value="No">{{"general_no" | translate}}</option>
                </select>
            </div>

        </div>
        <div class="row" ng-show="vm.userPriorities.lifestandart">
            <h1 class="form-signin-heading text-muted">{{"register_lifestandart" | translate}}</h1>

            <div class="form-group">
                <label for="sel1">{{"register_budget" | translate}}</label>
                <select class="form-control" ng-model="vm.informations.budget" id="budget">
                    <option ng-repeat="budget in vm.budgets" value="{{budget}}">{{budget}}</option>
                </select>
            </div>
        </div>
        <div class="row" ng-show="vm.userPriorities.hobbies">
            <h1 class="form-signin-heading text-muted">{{"register_hobbies_title" | translate}}</h1>

            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#hobbiesModal">{{"register_hobbies" | translate}}</button>
            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#sportsModal">{{"register_sports" | translate}}</button>
        </div>

        <div class="row" ng-show="vm.userPriorities.horoscope">
            <h1 class="form-signin-heading text-muted">{{"register_horoscope" | translate}}</h1>

            <div class="form-group">
                <label for="sel1">{{"register_horoscope" | translate}}</label>
                <select class="form-control" ng-model="vm.informations.horoscope" id="horoscope">
                    <option ng-repeat="horoscope in vm.horoscopes" value="{{horoscope}}">{{horoscope}}</option>
                </select>
            </div>
        </div>


        <div class="row" ng-show="vm.userPriorities.gender">
            <h1 class="form-signin-heading text-muted">{{"register_gender" | translate}}</h1>

            <div class="form-group">
                <label for="sel1">{{"register_gender" | translate}}</label>
                <select class="form-control" ng-model="vm.informations.flatmategender" id="flatmategender">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option value="Male">{{"register_gender_male" | translate}}</option>
                    <option value="Female">{{"register_gender_female" | translate}}</option>
                </select>
            </div>
        </div>

        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#personalPhotos">{{"register_choosepersonalityphotos" | translate}}
        </button>

        <button class="btn btn-lg btn-primary btn-block" ng-disabled="register.$invalid" type="submit">
            {{"navbar_register_button" | translate}}
        </button>

        <p for="sel1">{{"register_privacy_info" | translate}}</p>

        <div ng-show="vm.isLoading">
            <div class="text-center" style="margin: 0 auto;">
                <i style="color:#fed136; font-size: 4em; margin: 0 auto;" class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </div>

        <div class="alert alert-danger" role="alert" ng-show="vm.error">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{vm.errorMessage}}
        </div>

    </form>

    <hobbies-modal></hobbies-modal>
    <sports-modal></sports-modal>
    <personalphotos-modal></personalphotos-modal>
</div>

