

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click = "$dismiss()" data-dismiss="modal"><span class="fa fa-times" aria-hidden="true"></span><span class="sr-only">{{"general_close" | translate}}</span></button>
                <h3 class="modal-title" id="lineModalLabel">{{"navbar_profile_button" | translate}}</h3>
            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <profile-page user = "user" open = "openPhoto" ></profile-page>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="openMessageModal()"  role="button">{{"profile_modal_send_message" | translate}}</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="Contact" class="btn btn-default btn-hover-green" ng-click="navigateToProfile(user.userid)" role="button">{{"profile_modal_profile_page" | translate}}</button>
                    </div>
                </div>
            </div>
        </div>


