<div class="portfolio-item">
    <a ng-href="" class="portfolio-link" ng-click="vm.open(user)">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-search fa-3x"></i>
            </div>
        </div>
        <img src="{{user.useravatar}}" class="img-thumbnail" alt="">
    </a>

    <div class="portfolio-caption">
        <h4>{{user.name + " " + user.lastname}}</h4>

        <div class="row" ng-if="user.house != null">
            <div class="col-xs-6">
                <div class="well well-sm" uib-tooltip="{{'listing_his_gender' | translate}}">
                    <img src="https://maxcdn.icons8.com/Color/PNG/24/Users/male-24.png"
                         ng-if="user.house.genderofpeople == 'Male'" title="User Gender" width="25">
                    <img src="https://maxcdn.icons8.com/Color/PNG/24/Users/female-24.png"
                         ng-if="user.house.genderofpeople == 'Female'" title="User Gender" width="25">
                    <img src="https://maxcdn.icons8.com/windows8/PNG/26/Users/gender-26.png" uib-tooltip="{{'listing_mixed'|translate}}" tooltip-placement="bottom"
                         ng-if="user.house.genderofpeople != 'Female' && user.house.genderofpeople != 'Male' " title="Mixed" width="25">

                    <span class="badge" tooltip-placement="bottom" uib-tooltip="{{'listing_total_people'|translate}}">{{user.house.currentpeoplenumber}}</span>
                </div>
            </div>
            <div class="col-xs-6" uib-tooltip="{{'listing_looking_for_gender'|translate}}">
                <div class="well well-sm">
                    <img src="https://maxcdn.icons8.com/Color/PNG/24/Users/male-24.png"
                         ng-if="user.informations.flatmategender == 'Male'" title="User Gender" width="25">
                    <img src="https://maxcdn.icons8.com/Color/PNG/24/Users/female-24.png"
                         ng-if="user.informations.flatmategender == 'Female'" title="User Gender" width="25">
                    <img src="https://maxcdn.icons8.com/windows8/PNG/26/Users/gender-26.png" uib-tooltip="{{'general_dm' | translate}}" tooltip-placement="bottom"
                         ng-if="user.informations.flatmategender != 'Female' && user.informations.flatmategender != 'Male' " title="{{'general_dm' | translate}}" width="25">
                    <span class="badge" tooltip-placement="bottom" uib-tooltip="{{'listing_looking_for_many_flatmate' | translate}}">{{user.house.desiredpeoplenumber-user.house.currentpeoplenumber}}</span>
                </div>
            </div>

        </div>
        <div class="row" ng-if="user.house == null">
            <div class="col-xs-6">
                <div class="well well-sm" uib-tooltip="{{'listing_his_gender' | translate}}">
                    <img src="https://maxcdn.icons8.com/Color/PNG/24/Users/male-24.png"
                         ng-if="user.gender == 'Male'" title="User Gender" width="25">
                    <img src="https://maxcdn.icons8.com/Color/PNG/24/Users/female-24.png"
                         ng-if="user.gender == 'Female'" title="User Gender" width="25">
                    <img src="https://maxcdn.icons8.com/windows8/PNG/26/Alphabet/question_mark-26.png"
                         tooltip-placement="bottom" uib-tooltip="{{'listing_notgiven' | translate}}" width="26"  ng-if="user.gender != 'Female' && user.gender != 'Male' " >

                    <span class="badge" tooltip-placement="bottom" uib-tooltip="{{'listing_total_people' | translate}}">{{user.house.currentpeoplenumber}}</span>
                </div>
            </div>
            <div class="col-xs-6" uib-tooltip="{{'listing_looking_for_gender' | translate}}">
                <div class="well well-sm">
                    <img src="https://maxcdn.icons8.com/Color/PNG/24/Users/male-24.png"
                         ng-if="user.informations.flatmategender == 'Male'" title="User Gender" width="25">
                    <img src="https://maxcdn.icons8.com/Color/PNG/24/Users/female-24.png"
                         ng-if="user.informations.flatmategender == 'Female'" title="User Gender" width="25">
                    <img src="https://maxcdn.icons8.com/windows8/PNG/26/Users/gender-26.png" uib-tooltip="{{'general_dm' | translate}}" tooltip-placement="bottom"
                         ng-if="user.informations.flatmategender != 'Female' && user.informations.flatmategender != 'Male' " title="{{'general_dm' | translate}}" width="25">
                </div>
            </div>
        </div>

        <div class="row">

            <img src="https://maxcdn.icons8.com/Android_L/PNG/24/Users/student-24.png" ng-show="user.student"
                 uib-tooltip="{{'Student' | translate}}" width="25">
            <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Animals/cat_footprint_filled-25.png"
                 ng-if="user.informations.pet == true" uib-tooltip="Pet Owner" width="25">
            <img src="https://maxcdn.icons8.com/windows8/PNG/26/Sports/football2-26.png" ng-show="sportive"
                 uib-tooltip="{{'Sportive' | translate}}" width="25">
            <img src="https://maxcdn.icons8.com/windows8/PNG/26/City/smoking-26.png"
                 ng-if="user.informations.smoking == true" uib-tooltip="{{'Smoking' | translate}}" width="26">
            <img src="https://maxcdn.icons8.com/iOS7/PNG/25/City/no_smoking_filled-25.png"
                 ng-hide="user.informations.smoking" uib-tooltip="{{'Non-smoker' | translate}}" width="25">
            <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Sports/dancing-25.png" ng-show="partyLover"
                 uib-tooltip="{{'Party Lover' | translate}}" width="25">
            <img src="https://maxcdn.icons8.com/Android/PNG/24/Very_Basic/music-24.png" ng-show="musicLover"
                 uib-tooltip="{{'Music Lover' | translate}}" width="25">
            <img src="https://maxcdn.icons8.com/windows8/PNG/26/Computer_Hardware/controller-26.png" ng-show="gamer"
                 uib-tooltip="{{'Gamer' | translate}}" width="25">
            <img src="https://maxcdn.icons8.com/windows8/PNG/26/Household/broom-26.png" ng-show="veryClean"
                 uib-tooltip="{{'Neat' | translate}}" width="25">
            <img src="https://maxcdn.icons8.com/Android/PNG/24/Weather/bright_moon-24.png" ng-show="nightPerson"
                 uib-tooltip="{{'Night Person' | translate}}" width="25">
        </div>

        <p class="text-muted">{{user.totalMatch }} {{ 'listing_total_match' | translate}}</p>
    </div>
</div>