<div class="modal fade" id="hobbiesModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"
                                                                               aria-hidden="true"></span><span
                        class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel"> {{"register_hobbies" | translate}}</h3>
            </div>
            <div class="modal-body">

                <div ng-hide="vm.hobbiesSaved">
                    <!-- content goes here -->
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="checkbox" ng-repeat="hobby in vm.hobbies | limitTo:7">
                                <label><input type="checkbox" ng-checked="vm.isItemExist(hobby,vm.informations.hobbies)"
                                              ng-click="vm.toggleCheckbox(hobby,vm.informations.hobbies)" value="">{{hobby | translate}}</label>
                            </div>
                        </div>
                        <div class="col-xs-6">

                            <div class="checkbox" ng-repeat="hobby in vm.hobbies" ng-if="$index > 7">
                                <label><input type="checkbox" ng-checked="vm.isItemExist(hobby,vm.informations.hobbies)"
                                              ng-click="vm.toggleCheckbox(hobby,vm.informations.hobbies)" value="">{{hobby | translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.hobbiesSaved">
                    <p>{{vm.saveMessage | translate}}</p>
                </div>


            </div>
            <div class="modal-footer">
                <div ng-hide="vm.hobbiesSaved">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-click="vm.saveHobbies()" role="button">
                                {{"general_save" | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.hobbiesSaved">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" data-dismiss="modal" role="button"> {{"general_close" | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>