<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times" aria-hidden="true"></span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">{{'listing_manualsearch' | translate}}</h3>
            </div>
            <div class="modal-body">

                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Form Name -->

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="district">{{'register_district' | translate}}</label>

                                <div class="col-md-4">
                                    <input id="district" name="districtinput" ng-model="vm.informations.district" type="text"
                                           placeholder="District" class="form-control input-md">

                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="politicalview">{{"register_politicalview" | translate}}</label>

                                <div class="col-md-4">
                                    <select id="politicalview" ng-model="vm.informations.politicalview"
                                            name="politicalviewselect" class="form-control">
                                        <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                        <option ng-repeat="politic in vm.politics" value="{{politic}}">{{politic | translate}}</option>

                                    </select>
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="religiousview">{{"register_religiousview" | translate}}</label>

                                <div class="col-md-4">
                                    <select id="religiousview" ng-model="vm.informations.religiousview"
                                            name="religiousviewselect" class="form-control">
                                        <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                        <option ng-repeat="religion in vm.religions" value="{{religion}}">{{religion | translate}}</option>

                                    </select>
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="organization">{{"register_organization" | translate}}</label>

                                <div class="col-md-4">
                                    <select id="organization" ng-model="vm.informations.organization" name="organizationselect"
                                            class="form-control">
                                        <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                        <option ng-repeat="organization in vm.organizations" value="{{organization}}">{{organization | translate}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="smoking">{{"general_smoking" | translate}}</label>

                                <div class="col-md-4">
                                    <select id="smoking" ng-model="vm.informations.smoking" name="smokingselect"
                                            class="form-control">
                                        <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                        <option value="Yes">{{"general_yes" | translate}}</option>
                                        <option value="No">{{"general_no" | translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="drinking">{{"general_drinking" | translate}}</label>

                                <div class="col-md-4">
                                    <select id="drinking" ng-model="vm.informations.drinking" name="drinkingselect"
                                            class="form-control">
                                        <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                        <option value="Yes">{{"general_yes" | translate}}</option>
                                        <option value="No">{{"general_no" | translate}}</option>

                                    </select>
                                </div>
                            </div>


                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectbasic">{{"general_pet" | translate}}</label>

                                <div class="col-md-4">
                                    <select id="selectbasic" ng-model="vm.informations.pet" name="selectbasic"
                                            class="form-control">
                                        <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                        <option value="Yes">{{"general_yes" | translate}}</option>
                                        <option value="No">{{"general_no" | translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Budget">{{"register_budget" | translate}}</label>

                                <div class="col-md-4">
                                    <select id="Budget" ng-model="vm.informations.budget" name="Budget" class="form-control">
                                        <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                        <option ng-repeat="budget in vm.budgets" value="{{budget}}">{{budget}}</option>
                                    </select>
                                </div>
                            </div>


                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="horoscope">{{"register_horoscope" | translate}}</label>
                                    <div class="col-md-4">
                                    <select class="form-control" ng-model="vm.informations.horoscope" id="horoscope">
                                        <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                        <option ng-repeat="horoscope in vm.horoscopes" value="{{horoscope}}">{{horoscope | translate}}</option>
                                    </select>
                                        </div>
                                </div>



                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="flatmategender">Gender</label>
                                    <div class="col-md-4">
                                    <select class="form-control" ng-model="vm.informations.flatmategender" id="flatmategender">
                                        <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                        <option value="Male">{{"register_gender_male" | translate}}</option>
                                        <option value="Female">{{"register_gender_female" | translate}}</option>
                                    </select>
                                        </div>
                                </div>





                            <div class="form-group" style = "padding: 5px;">
                                <label class="col-md-4 control-label"></label>

                                <div class="col-lg-8">

                                    <label for="gender-0">
                                        <input type="radio" name="gender" ng-model="vm.user.gender" id="gender-0" value="Male" checked
                                               ng-required>
                                        {{'register_gender_male' | translate}}
                                    </label>
                                    <label for="gender-1">
                                        <input type="radio" name="gender" ng-model="vm.user.gender" id="gender-1" value="Female"
                                               ng-required="">
                                        {{'register_gender_female' | translate}}
                                    </label>
                                </div>
                            </div>


                            <!--<div class="form-group" style="padding-bottom: 5px;">-->
                                <!--<label class="col-md-4 control-label"></label>-->

                                <!--<div class="col-lg-8">-->

                                    <!--<label for="sexuality-0">-->
                                        <!--<input type="radio" name="sexuality" ng-model="vm.user.sexuality" id="sexuality-0"-->
                                               <!--value="Heterosexuel" checked ng-required>-->
                                        <!--Heterosexuel-->
                                    <!--</label>-->
                                    <!--<label for="sexuality-1">-->
                                        <!--<input type="radio" name="sexuality" ng-model="vm.user.sexuality" id="sexuality-1"-->
                                               <!--value="Homosexuel" ng-required="">-->
                                        <!--Homosexuel-->
                                    <!--</label>-->
                                    <!--<label for="sexuality-2">-->
                                        <!--<input type="radio" name="sexuality" ng-model="vm.user.sexuality" id="sexuality-2"-->
                                               <!--value="Bisexuel" ng-required="">-->
                                        <!--Bisexuel-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="form-group" style="padding-bottom: 15px;">
                                <label class="col-md-4 control-label"></label>

                                <div class="checkbox col-lg-8">
                                    <label><input type="checkbox" ng-model="vm.user.student" value="">{{"register_areyoustudent" | translate}}</label>
                                </div>
                            </div>


                            <div class="form-group" style="padding-bottom: 15px;">
                                <label class="col-md-4 control-label"></label>

                                <div class="checkbox col-lg-8">
                                    <label><input type="checkbox" ng-model="vm.strictSearch" value="">{{"listing_strictsearch" | translate}}</label>
                                </div>
                            </div>

                            <!-- Button
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="searchButton"></label>

                                <div class="col-md-4">
                                    <button id="searchButton" name="searchButton" ng-click="vm.manualSearch()"
                                            class="btn btn-primary">Search!
                                    </button>
                                </div>
                            </div>
 -->
                        </fieldset>
                    </form>

            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">{{"general_close" | translate}}</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="Search" class="btn btn-primary btn-hover-green" ng-click="vm.manualSearch()" data-dismiss="modal" data-action="save" role="button">{{"general_search" | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
