<div>
    <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
       {{"edit_info_alert" | translate}}
    </div>


    <form class="form-horizontal" role="form">


        <h3>{{"edit_house_location_title" | translate}}</h3>


        <div class="form-group">
            <label class="col-lg-3 control-label">{{"edit_house_country" | translate}}</label>   <!-- Select Box -->
            <div class="col-lg-8">
                <select class="form-control" ng-model="vm.informations.country" id="countries">
                    <option ng-repeat="country in vm.countries" value="{{country}}">{{country}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">{{"edit_house_city" | translate}}</label> <!-- Select Box -->

            <div class="col-lg-8">
                <input name="city" class="form-control" places-auto-complete size=30
                       ng-model="vm.informations.city" placeholder="City"
                       component-restrictions="{}"
                       types="['geocode']" on-place-changed="vm.onCityChangeForInformations()"/>
            </div>

        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">{{"edit_house_district" | translate}}</label>

            <div class="col-lg-8">
                <input places-auto-complete size=80 class="form-control"
                       ng-model="vm.informations.district" placeholder="District"
                       component-restrictions="{}"
                       types="['geocode']" on-place-changed="vm.onDistrictChangeForInformations()"/>
            </div>
        </div>


        <h3>{{"register_views" | translate}}</h3>

        <div class="form-group">
            <label class="col-lg-3 control-label">{{"register_politicalview" | translate}}:</label>

            <div class="col-lg-8">
                <select class="form-control" ng-model="vm.informations.politicalview" id="political">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option ng-repeat="politic in vm.politics" value="{{politic}}">{{politic | translate}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">{{"register_religiousview" | translate}}:</label>

            <div class="col-lg-8">
                <select class="form-control" ng-model="vm.informations.religiousview" id="religion">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option ng-repeat="religion in vm.religions" value="{{religion}}">{{religion | translate}}</option>
                </select>
            </div>
        </div>


        <h3>{{"register_lifestyle" | translate}}</h3>

        <div class="form-group">
            <label class="col-lg-3 control-label">{{"register_organization" | translate}}:</label>

            <div class="col-lg-8">
                <select class="form-control" ng-model="vm.informations.organization" id="sel1">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option ng-repeat="organization in vm.organizations" value="{{organization}}">{{organization | translate}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label" for="pet"><i class="fa fa-paw"></i> {{"register_pet_question" | translate}}</label>

            <div class="col-lg-8">
                <select id="pet" ng-model="vm.informations.pet" name="petselect"
                        class="form-control">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option value="Yes">{{"general_yes" | translate}}</option>
                    <option value="No">{{"general_no" | translate}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label" for="smoking">{{"register_smoke_question" | translate}}</label>

            <div class="col-lg-8">
                <select id="smoking" ng-model="vm.informations.smoking" name="smokingselect"
                        class="form-control">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option value="Yes">{{"general_yes" | translate}}</option>
                    <option value="No">{{"general_no" | translate}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label" for="drink"><i class="fa fa-glass"></i> {{"register_drink_question" | translate}}</label>

            <div class="col-lg-8">
                <select id="drink" ng-model="vm.informations.drinking" name="drinkselect"
                        class="form-control">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option value="Yes">{{"general_yes" | translate}}</option>
                    <option value="No">{{"general_no" | translate}}</option>
                </select>
            </div>
        </div>


        <h3>{{"register_lifestandart" | translate}}</h3>

        <div class="form-group">
            <label class="col-lg-3 control-label">{{"register_budget" | translate}}:</label>

            <div class="col-lg-8">
                <select class="form-control" ng-model="vm.informations.budget" id="budget">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option ng-repeat="budget in vm.budgets" value="{{budget}}">{{budget}}</option>
                </select>
            </div>
        </div>

        <h3>{{"register_hobbies_title" | translate}}</h3>

        <div class="form-group" style="margin-top: 10px;">
            <label class="col-md-3 control-label"></label>

            <div class="col-md-8">
                <button class="btn btn-info" type="button" data-toggle="modal" data-target="#hobbiesModal">{{"register_hobbies" | translate}}</button>
                <button class="btn btn-info" type="button" data-toggle="modal" data-target="#sportsModal">{{"register_sports" | translate}}</button>

            </div>
        </div>

        <h3>{{"edit_yourflatmategender" | translate}}</h3>

        <div class="form-group">
            <label class="col-md-3 control-label">{{"register_gender" | translate}}:</label>

            <div class="col-md-8">
                <select class="form-control" ng-model="vm.informations.flatmategender" id="flatmategender">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option value="Male">{{"register_gender_male" | translate}}</option>
                    <option value="Female">{{"register_gender_female" | translate}}</option>
                </select>
            </div>
        </div>
        <h3>  {{"register_horoscope" | translate}}</h3>
        <div class="form-group">
            <label class="col-md-3 control-label">{{"register_zodiac" | translate}}:</label>
            <div class="col-md-8">
                <select class="form-control" ng-model="vm.informations.horoscope" id="horoscope">
                    <option value="Dm" selected>{{"general_dm" | translate}}</option>
                    <option ng-repeat="horoscope in vm.horoscopes" value="{{horoscope}}">{{horoscope | translate}}</option>
                </select>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" ng-click="vm.updateInformation(vm.informations)" type="submit">
            {{"edit_savechanges" | translate}}
        </button>
    </form>


</div>