<section id="portfolio" class="bg-light-black">


    <div class="container">
        <div class="alert alert-danger" role="alert" ng-if="vm.users <= 0">
            <a class="alert-link">There are no one in this catageory yet. Select your personality pictures and be the first one. </a>
        </div>


        <div class="row" infinite-scroll="vm.addMoreItems()">
            <ul class="dynamic-grid" angular-grid="vm.users" grid-width="360" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="true" >
                <li ng-repeat="user in vm.users | orderBy:'-totalMatch'" class="grid">
                    <list-element user="user" vm="vm"></list-element>
                </li>
            </ul>
        </div>

        <div ng-show="vm.isLoading">
            <div class="text-center" style="margin: 0 auto;">
                <i style="color:#fed136; font-size: 6em; margin: 0 auto;" class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </div>

        <!--<div class="row" infinite-scroll="vm.addMoreItems()">-->
            <!--<span ng-repeat="user in vm.users">-->
            <!--<div ng-if="$index % 3 == 0" class="clearfix"></div>-->
                <!--<div class ="col-md-4 col-sm-4">-->
            <!--<list-element user="user" listingPlace="vm.listingPlace" vm ="vm"> &lt;!&ndash; listing users &ndash;&gt;-->
            <!--</list-element>-->
                <!--</div>-->
                <!--</span>-->
        <!--</div>-->

    </div>

</section>

