<div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{"register_basicinfo" | translate}}</h3>
    </div>
    <div class="panel-body">

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td  class="col-sm-1 text-muted">{{"profile_name" | translate}}</td>
                <td  class="col-md-2">{{user.name +" "+ user.lastname}}</td>
            </tr>

            <tr ng-if="user.birthdate">
                <td class="col-sm-1 text-muted">{{"edit_birthdate" | translate}}</td>
                <td>{{user.birthdate | dateFormat}}</td>
            </tr>


            <tr>
                <td class="col-sm-1 text-muted">{{"register_gender" | translate}}</td>
                <td>{{user.gender | translate}}</td>
            </tr>
            <tr>
                <td class="col-sm-1 text-muted">{{"register_email" | translate}}</td>
                <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
            </tr>
            <tr ng-if="user.phone">
                <td class="col-sm-1 text-muted">{{"edit_phone" | translate}}</td>
                <td>{{user.phone}}</td>
            </tr>
            <tr ng-if="user.informations.horoscope != 'DM' ">
                <td class="col-sm-1 text-muted">{{"register_zodiac" | translate}}</td>
                <td>{{user.informations.horoscope | translate}}</td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{"edit_house_location_title" | translate}}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-sm-1 text-muted" >{{"edit_house_country" | translate}}</td>
                    <td ng-if="user.informations.country == 'DM' || user.informations.country == 'Dm' " class="col-md-2">{{"profile_dm" | translate}}</td>
                    <td class="col-md-2" ng-if="user.informations.country != 'DM' && user.informations.country != 'Dm'">{{user.informations.country | translate}}</td>
                </tr>

                <tr>
                    <td class="col-sm-1 text-muted">{{"edit_house_city" | translate}}</td>
                    <td ng-if="user.informations.city == 'DM'  || user.informations.city == 'Dm'" class="col-md-2">{{"profile_dm" | translate}}</td>
                    <td class="col-md-2" ng-if="user.informations.city != 'DM' && user.informations.city != 'Dm'">{{user.informations.city}}</td>
                </tr>


                <tr>
                    <td class="col-sm-1 text-muted">{{"edit_house_district" | translate}}</td>
                    <td ng-if="user.informations.district == 'DM' || user.informations.district == 'Dm' " class="col-md-2">{{"profile_dm" | translate}}</td>
                    <td class="col-md-2" ng-if="user.informations.district != 'DM' && user.informations.district != 'Dm' ">{{user.informations.district}}</td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{"profile_blog" | translate}}</h3>
        </div>
        <div class="panel-body">

            <div data-ng-bind-html="user.selfdescription"></div>
        </div>
    </div>
</div>
