
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click = "$dismiss()" data-dismiss="modal"><span class="fa fa-times" aria-hidden="true"></span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel">REPORT</h3>
    </div>
    <div class="modal-body">

        <div ng-hide="vm.updateOk">
            <label>{{"Report this user: " + vm.user.name + " " + vm.user.lastname}}</label>
            <textarea placeholder="Write your report reason." class="form-control" ng-model="vm.reportreason" id="inputBody" rows="5"></textarea>
            <button type="button" class="btn btn-primary" ng-click="vm.reportUser()">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>
        </div>

        <div ng-show="vm.updateOk">
            <label>{{vm.responseMessage}}</label>
        </div>
    </div>


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js"></script>
</div>