
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click = "$dismiss()" data-dismiss="modal"><span class="fa fa-times" aria-hidden="true"></span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel"><a ng-click="vm.closeModal()" style="color:black;" ui-sref="profile({name:vm.message.otherUserId})">{{vm.message.name}}</a></h3>
    </div>
    <div class="modal-body">


        <div>
            <div class="chat_list">
                <ul id="overflowScrollable" class="list-group" scroll-glue style="max-height: 300px; overflow:auto;">
                    <li class="list-group-item" ng-repeat="message in vm.message.messages">
                        <small class="pull-right text-muted">{{message.date | dateWithTimeFormat}}</small>
                        <div>
                            <small class="list-group-item-heading text-muted text-primary">{{message.sendername}}</small>
                            <p class="list-group-item-text">
                                {{message.content}}
                            </p>
                        </div>
                    </li>
                </ul>
                <textarea class="form-control" ng-model="vm.content" id="inputBody" rows="5"></textarea>
                <button type="button" class="btn btn-primary" ng-click="vm.sendMessage()">{{'general_send' | translate}} <i class="fa fa-arrow-circle-right fa-lg"></i></button>
            </div>
        </div>



    </div>


    <script>
        var out = document.getElementById("overflowScrollable");
        // allow 1px inaccuracy by adding 1
        var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;

        console.log("Scroll fefefefefe " + isScrolledToBottom)
        if(isScrolledToBottom)
            out.scrollTop = out.scrollHeight - out.clientHeight;
    </script>



    <!--<div class="modal-footer">
        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="$dismiss()"  role="button">Close</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="Contact" class="btn btn-default btn-hover-green" ng-click="navigateToProfile(user.userid)" role="button">Profile Page</button>
            </div>
        </div>
    </div>-->


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js"></script>
</div>

