<header style=" background-image: url(../img/header-bg-{{vm.backgroundImageIndex}}.jpg)">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading"> {{vm.updateMessage | translate}} </div>
            <div class="intro-heading" ng-if="!vm.isVerified && !vm.updateOk">
                {{"verification_pleasewait" | translate}}
            </div>

            <button ng-hide="vm.isVerified" ng-click="vm.sendNewEmail()" class="btn btn-xl">{{"general_send_again" | translate}}</button>
        </div>
    </div>
</header>
<div class="container">

    <div class="row">
        <div ng-show="vm.isVerified">
            {{vm.updateMessage}}
        </div>
        <div ng-if="!vm.isVerified && !vm.updateOk">
           {{"verification_pleasewait" | translate}}
        </div>

    </div>

</div>


