<div class="modal fade" id="{{settings.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times" aria-hidden="true"></span><span class="sr-only">{{"general_close" | translate}}</span></button>
                <h3 class="modal-title" id="lineModalLabel">{{settings.modalTitle}}</h3>
            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <div class="well">
                    <form action="" class="dropzone text-center" dropzone="" config="{{settings.dropzoneconfig}}" id="dropzone">
                        <div class="dz-default dz-message">
                            <p class="roboto-regular font-size-12" style="color: #6a6a6a">
                               {{"edit_upload_drag" | translate}}
                            </p>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click ="settings.close()" role="button">{{"general_close" | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>