<div>
    <div ng-if="house != null">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{"profile_houseinfo" | translate}}</h3>
        </div>
        <div class="panel-body">

                <hr data-reactid=".1db57rs4s8w.6">


                <div class="row yer">
                    <div class="col-md-3 text-muted"><span>{{"edit_house" | translate}}</span></div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6"><span>{{"edit_house_type" | translate}} :</span><strong> {{house.type | translate}}</strong></div>
                            <div class="col-md-6"><span>{{"edit_house_rent_price" | translate}} :</span><strong> {{house.price}}</strong></div>
                            <div class="col-md-6"><span>{{"edit_house_bathrooms" | translate}} :</span><strong>{{house.bathroom}}</strong></div>
                            <div class="col-md-6"><span>{{"edit_house_bedrooms" | translate}} :</span><strong> {{house.bedroom}} </strong></div>
                            <div class="col-md-6"><span>{{"edit_currentpeople" | translate}} :</span><strong> {{house.currentpeoplenumber}}</strong></div>
                            <div class="col-md-6"><span>{{"edit_desiredpeople" | translate}} :</span><strong> {{house.desiredpeoplenumber}}</strong></div>
                        </div>
                    </div>

                </div>

                <hr data-reactid=".1db57rs4s8w.6">

                <div class="row olanaklar">
                    <div class="col-md-3 text-muted"><span>{{"profile_essentials" | translate}}</span></div>
                    <div class="col-md-9 expandable">
                        <div class="expendable-content-summary">
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="space-1" ng-show="house.amenities.internet">
                                        <i class="fa fa-wifi"></i>&nbsp;<span>{{"edit_house_internet" | translate}}</span>
                                    </div>

                                    <div class="space-1" ng-show="house.amenities.tv">
                                        <img src="https://maxcdn.icons8.com/Android/PNG/24/Household/widescreen_tv-24.png" title="Widescreen TV" width="25">&nbsp;<span title="Cable TV">{{"edit_house_tv" | translate}}</span>
                                    </div>

                                    <div class="space-1" ng-show="house.amenities.dishwasher">
                                        <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Household/dishwasher-25.png" title="Dishwasher" width="25">&nbsp;<span>{{"edit_house_dishwasher" | translate}}</span>
                                    </div>


                                    <div class="space-1" ng-show="house.amenities.washer" >
                                        <img src="https://maxcdn.icons8.com/windows8/PNG/26/Household/washing_machine-26.png" title="Washing Machine" width="25">&nbsp;<span>{{"edit_house_washer" | translate}}</span>
                                    </div>


                                    <div class="space-1" ng-show="house.amenities.aircon">
                                        <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Household/air_conditioner-25.png" title="Air Conditioner" width="25">&nbsp;<span>{{"edit_house_aircondition" | translate}}</span>
                                    </div>

                                    <div class="space-1" ng-show="house.furnished">
                                        <img src="https://maxcdn.icons8.com/windows8/PNG/26/Household/interior-26.png" title="Interior" width="25">&nbsp;<span>{{"edit_house_furnished" | translate}}</span>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="space-1" ng-show="house.amenities.pool">
                                        <img src="https://maxcdn.icons8.com/windows8/PNG/26/Sports/swimming-26.png" title="Swimming" width="25">&nbsp;<span>{{"edit_house_pool" | translate}}</span>
                                    </div>

                                    <div class="space-1" ng-show="house.amenities.elevator">
                                        <img src="https://maxcdn.icons8.com/windows8/PNG/26/Travel/elevator-26.png" title="Elevator" width="25">&nbsp;<span>{{"edit_house_elevator" | translate}}</span>
                                    </div>

                                    <div class="space-1" ng-show = "house.amenities.parking">
                                        <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Transport/parking_filled-25.png" title="Parking Field" width="25">&nbsp;<span title="Street">{{"edit_house_parking" | translate}}</span>
                                    </div>

                                    <div class="space-1" ng-show="house.amenities.doorman">
                                        <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Science/caretaker_filled-25.png" title="Caretaker Filled" width="25">&nbsp;<span>{{"edit_house_doorman" | translate}}</span>
                                    </div>

                                    <div class="space-1" ng-show="house.amenities.hottub">
                                        <img src="icons/hottub.png" width="25">&nbsp;<span>{{"edit_house_hottub" | translate}}</span>
                                    </div>

                                    <div class="space-1" ng-show="house.amenities.heating">
                                        <img src="https://maxcdn.icons8.com/Android/PNG/24/Healthcare/wheelchair-24.png" title="Wheelchair" width="25">&nbsp;<span>{{"profile_essentials" | translate}}</span>
                                    </div>

                                    <div class="space-1" ng-show="house.amenities.disabled">
                                        <img src="https://maxcdn.icons8.com/Android/PNG/24/Healthcare/wheelchair-24.png" title="Disabled" width="25">&nbsp;<span>{{"edit_house_disabled" | translate}}</span>
                                    </div>


                                </div>
                            </div>
                        </div>




                    </div>
                </div>

                <hr data-reactid=".1db57rs4s8w.8">

            <div class="row houserules">
                <div class="col-md-3 text-muted"><span>{{"profile_houserules" | translate}}</span></div>
                <div class="col-md-9 expandable">
                    <div class="expendable-content-summary">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="space-1">
                        <span >
                            {{house.rules}}
                         </span>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <hr data-reactid=".1db57rs4s8w.8">

            <div class="row prices">
                <div class="col-md-3 text-muted"><span>{{"profile_extraprices" | translate}}</span></div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6"><span>{{"profile_cleaningfee" | translate}}:</span><strong> {{house.cleaningfee}} /{{'general_month' | translate}} </strong></div>
                        <div class="col-md-6"><span>{{"profile_bills" | translate}} :</span><strong> {{house.bills}} /{{'general_month' | translate}}</strong></div>
                        <div class="col-md-6"><span>{{"profile_extracosts" | translate}}:</span><strong> {{house.extras}} /{{'general_month' | translate}} </strong></div>

                    </div>

                </div>

            </div>
            <hr data-reactid=".1db57rs4s8w.8">


            <div class="row availability">
                <div class="col-md-3 text-muted"><span>{{"profile_availability" | translate}}</span></div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6"><span>{{"profile_since" | translate}} :</span><strong>{{house.availabledate | dateFormat}}</strong></div>
                        <!--<div class="col-md-6"><span>{{"profile_till" | translate}} :</span><strong> -</strong></div>-->
                    </div>
                </div>

            </div>
            <hr data-reactid=".1db57rs4s8w.8">


            <div>
                <ng-map center="[{{house.location.latitude + ',' + house.location.longitude}}]">
                    <marker position="[{{house.location.latitude + ',' + house.location.longitude}}]"></marker>
                </ng-map>
            </div>



        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{"profile_housephotos" | translate}}</h3>

        </div>
        <div class="panel-body">
            <div class="row">
                <!--<div class = "col-sm-6 col-md-3" ng-repeat="image in house.photos">-->
                    <!--<a>-->
                        <!--<img ng-src="{{image}}" ng-click="vm.open($index)" class="thumbnail img-responsive profile-modal-img">-->
                    <!--</a>-->
                <!--</div>-->
                <div class="row" style="margin: 10px;">
                    <ul class="dynamic-grid" angular-grid="house.photos" grid-width="150" gutter-size="10" angular-grid-id="gallery2" refresh-on-img-load="true" >
                        <li ng-repeat="image in house.photos" class="grid">
                            <a href=""ng-click="vm.open($index)">
                                <img ng-src="{{image}}" class="img-responsive profile-modal-img">
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
        </div>


    <label ng-if="house == null">Sorry I don't have an house :( </label>
</div>
