<div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{"register_views" | translate}}</h3>
        </div>
        <div class="panel-body">

            <!--<div class="row">-->
                <!--<div class="col-md-3">-->
                    <!--<label class="text-muted">Political View:</label>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<label class="">{{user.informations.politicalview}}</label>-->
                <!--</div>-->


            <!--</div>-->
            <!--<hr>-->
            <!--<div class="row">-->
                <!--<div class="col-md-3">-->
                    <!--<label class="text-muted">Religious View:</label>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<label class="">{{user.informations.religiousview}}</label>-->
                <!--</div>-->


            <!--</div>-->


            <table class="table table-striped">
            <tbody>
            <tr>
            <td class="col-sm-1 text-muted">{{"register_politicalview"| translate}}</td>
                <td ng-if="user.informations.politicalview == 'Dm'" class="col-md-2">{{"general_dm" | translate}}</td>
                <td class="col-md-2" ng-if="user.informations.politicalview != 'DM'">{{user.informations.politicalview | translate}}</td>
            </tr>

            <tr>
            <td class="text-muted">{{"register_religiousview"| translate}}</td>
                <td ng-if="user.informations.politicalview == 'Dm'" class="col-md-2">{{"general_dm" | translate}}</td>
                <td class="col-md-2" ng-if="user.informations.religiousview != 'DM'">{{user.informations.religiousview | translate}}</td>
            </tr>

            </tbody>
            </table>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{"register_lifestyle"| translate}}</h3>
        </div>
        <div class="panel-body">

            <!--<div class="row">-->
                <!--<div class="col-md-3">-->
                    <!--<label class="text-muted">Pet:</label>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<label class="">{{user.informations.pet}}</label>-->
                <!--</div>-->
            <!--</div>-->
            <table class="table table-striped">
            <tbody>
            <tr>
            <td class="col-sm-1 text-muted">{{"general_pet"| translate}}</td>
            <td class="col-md-2" ng-if="user.informations.pet == 'No'"> {{"general_no"| translate}}</td>
            <td class="col-md-2" ng-if="user.informations.pet == 'Yes'"> {{"general_yes"| translate}} </td>
            <td class="col-md-2" ng-if="user.informations.pet == 'Dm'"> {{"general_dm"| translate}} </td>
            </tr>

            <tr>
            <td class="col-sm-1 text-muted">{{"general_smoking"| translate}}</td>
                <td class="col-md-2" ng-if="user.informations.pet == 'No'"> {{"general_no"| translate}}</td>
                <td class="col-md-2" ng-if="user.informations.pet == 'Yes'"> {{"general_yes"| translate}} </td>
                <td class="col-md-2" ng-if="user.informations.pet == 'Dm'"> {{"general_dm"| translate}} </td>
            </tr>

            <tr>
            <td class="text-muted">{{"general_drinking"| translate}}</td>
                <td class="col-md-2" ng-if="user.informations.pet == 'No'"> {{"general_no"| translate}}</td>
                <td class="col-md-2" ng-if="user.informations.pet == 'Yes'"> {{"general_yes"| translate}} </td>
                <td class="col-md-2" ng-if="user.informations.pet == 'Dm'"> {{"general_dm"| translate}} </td>
            </tr>

            <tr>
            <td class="text-muted">{{"general_organization"| translate}}</td>
                <td ng-if="user.informations.organization == 'Dm'">{{"general_dm"| translate}}</td>
                <td ng-if="user.informations.organization != 'Dm'">{{user.informations.organization | translate}}</td>
            </tr>

            </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{"register_hobbies_title" | translate}}</h3>
        </div>
        <div class="panel-body">
            <div class="row" ng-if="user.informations.hobbies.length > 0">
                <div class="col-md-3 text-muted"><span>{{"register_hobbies" | translate}}</span></div>

                <div class="col-xs-6">
                    <div class="checkbox" ng-repeat="hobby in user.informations.hobbies | limitTo:7">
                        <label>{{hobby | translate}}</label>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="checkbox" ng-repeat="hobby in user.informations.hobbies" ng-if="$index > 7">
                        <label>{{hobby | translate}}</label>
                    </div>

                </div>
            </div>

            <div class="row" ng-if="user.informations.sports.length > 0">
                <div class="col-md-3 text-muted"><span>{{"register_sports" | translate}}</span></div>

                <div class="col-xs-6">
                    <div class="checkbox" ng-repeat="sport in user.informations.sports | limitTo:7">
                        <label>{{sport | translate}}</label>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="checkbox" ng-repeat="sport in user.informations.sports" ng-if="$index > 7">
                        <label>{{sport | translate}}</label>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{"profile_photos" | translate}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">

          

                <div class="row" style="margin: 10px;">
                    <ul class="dynamic-grid" angular-grid="user.photos" grid-width="150" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="true" >
                        <li ng-repeat="image in user.photos" class="grid">
                            <a href=""ng-click="vm.open($index)">
                                <img ng-src="{{image}}" class="img-responsive profile-modal-img">
                            </a>
                        </li>
                    </ul>
                </div>

                <!--<ul class="gallery gallery2">-->
                    <!--<li ng-repeat="image in user.photos">-->
                            <!--<a>-->
                                <!--<img ng-src="{{image}}" ng-click="open($index)" class="img-circle img-responsive">-->
                            <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>


</div>
