
<!-- Header -->
<header class = "header-container" style=" background-image: url(../img/header-bg-{{vm.backgroundImageIndex}}.jpg)">
    <div class="container">
        <div class="intro-text">
            <!--<div class="intro-lead-in">Welcome To Our Studio!</div>-->
            <div class="intro-heading">{{'home_header_text' | translate}}</div>
            <button ng-hide="vm.isLoggedIn" ng-click="vm.scrollToX('register')" class="page-scroll btn btn-xl">{{'home_header_guest_button' | translate}}</button>
            <a ng-show="vm.isLoggedIn" ui-sref="listing" class="page-scroll btn btn-xl">{{'home_header_logged_button' | translate}}</a>

        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{'categories_title' | translate}}</h2>
                <h3 class="section-subheading text-muted">{{'categories_title_desc' | translate}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'gamer'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/gamer.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/gamer.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_gamer' | translate}}</h4>
                    <p class="text-muted">{{'categories_gamer_desc' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'petowner'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/petowner.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/petowner.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_pet' | translate}}</h4>
                    <p class="text-muted">{{'categories_pet_desc' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'partylover'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/partylover.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/partylover.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_party' | translate}}</h4>
                    <p class="text-muted">{{'categories_party_desc' | translate}}</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'chef'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/chef.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/chef.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_chef' | translate}}</h4>
                    <p class="text-muted">{{'categories_chef_desc' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'musician'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/musician.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/musician.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_music' | translate}}</h4>
                    <p class="text-muted">{{'categories_music_desc' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'smoker'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/smoker.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/smoker.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_smoker' | translate}}</h4>
                    <p class="text-muted">{{'categories_smoker_desc' | translate}}</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'gayfriendly'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/gayfriendly.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/gayfriendly.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_lgbt' | translate}}</h4>
                    <p class="text-muted">{{'categories_lgbt_desc' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'traveler'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/traveler.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/traveler.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_traveler' | translate}}</h4>
                    <p class="text-muted">{{'categories_traveler_desc' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'sport'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/sport.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/sport.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_sport' | translate}}</h4>
                    <p class="text-muted">{{'categories_sport_desc' | translate}}</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'owl'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/owl.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/owl.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_night' | translate}}</h4>
                    <p class="text-muted">{{'categories_night_desc' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'temiz'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/temiz.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/temiz.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_neat' | translate}}</h4>
                    <p class="text-muted">{{'categories_neat_desc' | translate}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a ui-sref="category({name:'messy'})" class="portfolio-link" ng-click = "vm.setCategorySelection('img/portfolio/messy.jpg')">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/messy.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{'categories_relax' | translate}}</h4>
                    <p class="text-muted">{{'categories_relax_desc' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ------------ Services Section ------------ -->


<section id="howto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{"howto_title" | translate}}</h2>

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-list-ol fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">{{"howto_step1" | translate}}</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">{{"howto_step2" | translate}}</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">{{"howto_step3" | translate}}</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->

<!-- Team Section -->
<section id="register" ng-hide="vm.isLoggedIn" >

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">   {{'register_header_text' | translate}}</h2>
                <h3 class="section-subheading text-muted">{{"register_alt_text" | translate}}</h3>
            </div>
        </div>
        <div class ="text-center">
        <div class="row row-centered">
            <md-checkbox ng-model="vm.userPriorities.district" aria-label="District">
                {{'register_district' | translate}}
            </md-checkbox>
        </div>

        <div class="row row-centered">
            <md-checkbox ng-model="vm.userPriorities.hobbies" aria-label="Hobbies and Activities">
                {{'register_hobbies_title' | translate}}
            </md-checkbox>
        </div>

        <div class="row row-centered">
            <md-checkbox ng-model="vm.userPriorities.views" aria-label="Views(Religious,Political)">
                {{'register_views_step1' | translate}}
            </md-checkbox>
        </div>

        <div class="row row-centered">
            <md-checkbox ng-model="vm.userPriorities.lifestyle" aria-label="Lifestyle (Pet,Smoking,Drinking etc.)">
                {{'register_lifestyle_step1' | translate}}
            </md-checkbox>
        </div>

        <div class="row row-centered">
            <md-checkbox ng-model="vm.userPriorities.lifestandart" aria-label="Life Standart (Budget)">
                {{'register_lifestandart_step1' | translate}}
            </md-checkbox>
        </div>
            <div class="row row-centered">
                <md-checkbox ng-model="vm.userPriorities.gender" aria-label="Gender">
                    {{'register_gender' | translate}}
                </md-checkbox>
            </div>

            <div class="row row-centered">
                <md-checkbox ng-model="vm.userPriorities.horoscope" aria-label="horoscope">
                    {{'register_horoscope' | translate}}
                </md-checkbox>
            </div>
        <button class="btn btn-lg btn-primary btn-block" ng-click = "vm.nextRegister()">
            {{'general_next' | translate}}
        </button>
            <button type="button" ng-click="vm.fbLogin()" class="btn btn-lg btn-default btn-block"
                    style="background-color: #3b5998;
                font-weight: 700;
            color: #fff;">
                {{'register_withfacebook' | translate}}
            </button>
        </div>
    </div>
</section>

<!-- Contact Section -->
<!--<section id="contact">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12 text-center">-->
                <!--<h2 class="section-heading">Contact Us</h2>-->
                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<form name="sentMessage" id="contactForm" novalidate>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                                <!--<input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">-->
                                <!--<p class="help-block text-danger"></p>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">-->
                                <!--<p class="help-block text-danger"></p>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">-->
                                <!--<p class="help-block text-danger"></p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group">-->
                                <!--<textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>-->
                                <!--<p class="help-block text-danger"></p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="clearfix"></div>-->
                        <!--<div class="col-lg-12 text-center">-->
                            <!--<div id="success"></div>-->
                            <!--<button type="submit" class="btn btn-xl">Send Message</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<a id="bottom"></a>-->
<!--</section>-->
