<header style=" background-image: url(../img/header-bg-{{vm.backgroundImageIndex}}.jpg)">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">{{'settings_title' | translate}}</div>
        </div>
    </div>
</header>


<div class="container">

    <div class="well">

        <div class="alert alert-info" ng-show="vm.updateOk" style="margin:5px">
            <a class="panel-close close" data-dismiss="alert">×</a>
            {{vm.updateMessage}}
        </div>

        <div class="alert alert-danger alert-dismissable" ng-show="vm.error" style="margin:5px">
            <a class="panel-close close" data-dismiss="alert">×</a>
            {{vm.errorMessage}}
        </div>


        <form class="form-horizontal" role="form" name="changePassword">
            <h1>{{'settings_change_password' | translate}}</h1>

            <div class="form-group">
                <row>
                <div class="col-md-4">
                    <input name="oldpassword" class="form-control" type="password" ng-model="vm.oldPassword"
                           placeholder="{{'settings_old_password' | translate}}" ng-required="true">
                </div>
                    <div class="col-md-4"></div>
                </row>
            </div>
            <div class="form-group">

                <row>
                <div class="col-md-4">
                    <input name="password" class="form-control" type="password" ng-model="vm.newPassword"
                           placeholder="{{'settings_new_password' | translate}}" ng-required="true">
                </div>
                <div class="col-md-4"></div>
                </row>
            </div>
            <div class="form-group">

                <row>
                <div class="col-md-4">
                    <input name="repassword" class="form-control" type="password" placeholder="{{'settings_new_password_again' | translate}}"
                           ng-model="vm.rePassword" matchpw="vm.newPassword" ng-required="true">
                </div>
                    <div class="col-md-4"></div>
                </row>
            </div>

            <div class="form-group" style="margin-top: 10px;">

                <div class="col-md-8">
                    <input type="button" class="btn btn-primary" value="{{'edit_savechanges' | translate}}" ng-click="vm.changePassword()">

                </div>
            </div>
        </form>

        <div class="alert alert-danger" ng-hide="changePassword.repassword.$valid"
             ng-show="changePassword.repassword.$error"
             role="alert" ng-if="changePassword.repassword.$touched">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">{{"login_error" | translate}}:</span>
            <span ng-messages="matchpw">{{'register_error_passwordmatch' | translate}}</span>
        </div>

        <h1>{{"settings_account_management" | translate}}</h1>
        <div class="row">
            <div class="col-md-4" ng-if="vm.user.status === 'pending'" >
                <button type="button" class="btn btn-info"  ng-click="vm.sendVerificationMail()">{{'settings_send_verification_button' | translate}}</button>
            </div>
            <div class="col-md-4">
                <input type="button" class="btn btn-danger" value="{{'settings_delete_button' | translate}}" data-toggle="modal"
                       data-target="#confirmation">
            </div>
        </div>



    </div>


</div>


<div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"
                                                                               aria-hidden="true"></span><span
                        class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel"> {{"settings_alert_title" | translate}}</h3>
            </div>
            <div class="modal-body">

                    <h2 class = "text-center"> {{"settings_alert_sure" | translate}}</h2>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">{{"general_no" | translate}}</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="Contact" class="btn btn-default btn-hover-green" ng-click="vm.deleteAccount()" role="button">{{"general_yes" | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

