<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click = "$dismiss()" data-dismiss="modal"><span class="fa fa-times" aria-hidden="true"></span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel">{{"login_recover_your_password_title"| translate}}</h3>
    </div>
    <div class="modal-body">
        <!-- content goes here -->
        <div ng-hide="isOK">
        <input type="text" ng-model="email" class="form-control" placeholder="{{'login_email_text'| translate}}" required=""
               autofocus="">
            <div ng-show="isLoading">
                <div class="text-center" style="margin: 0 auto;">
                    <i style="color:#fed136; font-size: 4em; margin: 0 auto;" class="fa fa-circle-o-notch fa-spin"></i>
                </div>
            </div>

        </div>

        <div ng-show="isOK">

            <p>{{responseMessage}}</p>

        </div>

        <div ng-hide="isOK">

            <p>{{responseMessage}}</p>

        </div>
    </div>
    <div class="modal-footer">
        <button ng-hide="isOK" class="btn btn-lg btn-primary btn-block" ng-click="sendRecoverPassword()" type="submit">
            {{'general_send'| translate}}
        </button>
        <button ng-show="isOK" class="btn btn-lg btn-primary btn-block" ng-click="$dismiss()" type="submit">
            {{'general_okay'| translate}}
        </button>
    </div>
</div>