<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">{{"reset_your_password" |translate}}</div>
        </div>
    </div>
</header>
<div class="container">
    <div class="alert alert-info" ng-show="vm.updateOk" style="margin:5px">
        <a class="panel-close close" data-dismiss="alert">×</a>
        {{vm.updateMessage}}
    </div>

    <div class="alert alert-danger alert-dismissable" ng-show="vm.error" style="margin:5px">
        <a class="panel-close close" data-dismiss="alert">×</a>
        {{vm.errorMessage}}
    </div>


    <div class="well">
        <form class="form-horizontal" role="form" name="changePassword">
            <h1>{{"change_your_password" | translate}}</h1>

            <div class="form-group">

                <div class="col-lg-8">
                    <input name="password" class="form-control" type="password" ng-model="vm.newPassword"
                           placeholder="{{'settings_new_password' | translate}}" ng-required="true">
                </div>
            </div>
            <div class="form-group">

                <div class="col-lg-8">
                    <input name="repassword" class="form-control" type="password" placeholder="{{'settings_new_password_again' | translate}}"
                           ng-model="vm.rePassword" matchpw="vm.newPassword" ng-required="true">
                </div>
            </div>

            <div class="form-group" style="margin-top: 10px;">

                <div class="col-md-8">
                    <input type="button" class="btn btn-primary" value="{{'update_your_password' | translate}}" ng-click="vm.resetPassword()">

                </div>
            </div>
        </form>
    </div>

</div>