<div class="modal fade" id="personalPhotos" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times" aria-hidden="true"></span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">{{"register_personalityphotos"| translate}}</h3>
            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <div class="row">
                    <div class="col-xs-6">
                        <div class="" uib-tooltip="{{personalphoto.tooltip | translate}}" ng-repeat="personalphoto in vm.personalPhotos | limitTo:6">
                            <label><input type="checkbox"ng-checked = "vm.isItemExist(personalphoto.img,vm.user.personalityphotos)"  ng-click = "vm.toggleCheckbox(personalphoto.img,vm.user.personalityphotos)" value=""><img class="img-responsive" src="{{personalphoto.img}}"></label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="" uib-tooltip="{{personalphoto2.tooltip | translate}}" ng-repeat="personalphoto2 in vm.personalPhotos track by $index" ng-if="$index > 5">
                            <label><input type="checkbox" ng-checked = "vm.isItemExist(personalphoto2.img,vm.user.personalityphotos)" ng-click = "vm.toggleCheckbox(personalphoto2.img,vm.user.personalityphotos)" value=""><img class="img-responsive" src="{{personalphoto2.img}}"></label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">{{"general_save" | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>