
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click = "$dismiss()" data-dismiss="modal"><span class="fa fa-times" aria-hidden="true"></span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel">{{'profile_modal_send_message' | translate}}</h3>
    </div>
    <div class="modal-body">

        <div ng-hide="vm.updateOk">
            <label>{{"to: " + vm.user.name + " " + vm.user.lastname}}</label>
                <textarea class="form-control" ng-model="vm.content" id="inputBody" rows="5"></textarea>
                <button type="button" class="btn btn-primary" ng-click="vm.sendMessage()">{{'messages_send_button' | translate}} <i class="fa fa-arrow-circle-right fa-lg"></i></button>
        </div>

        <div ng-show="vm.updateOk">
            <label>{{vm.responseMessage}}</label>
        </div>
    </div>


    <!--<div class="modal-footer">
        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="$dismiss()"  role="button">Close</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="Contact" class="btn btn-default btn-hover-green" ng-click="navigateToProfile(user.userid)" role="button">Profile Page</button>
            </div>
        </div>
    </div>-->


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js"></script>
</div>

