<section class="bg-light-black">
    <div class="container">
        <profile-page user="vm.user"></profile-page>
        <button class="btn btn-primary" ng-click="vm.openMessageModal(vm.user)">Send Message</button>
        <button class="btn btn-primary" ng-click="vm.shareProfile">Share</button>
    </div>
</section>