<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
</div>
<div class="modal-body">
    <ng-crop>
        <div class="row">
            <div class="col-md-8">
                <div class="avatar-wrapper"><img ng-src="{{imgRef}}" alt="Avatar"></div>
            </div>
            <div class="col-md-4">
                <div class="avatar-preview preview-lg"><img ng-src="{{teste}}" alt="Avatar"></div>
            </div>
        </div>

        <div class="row avatar-btns">
            <div class="col-md-4">
                <button type="submit" ng-click="doneCrop()" class="btn btn-primary submit-button">Done cropping</button>
                <!--<button type="submit" class="btn btn-primary btn-block avatar-save">Done</button>-->
            </div>
        </div>
    </ng-crop>
</div>