<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">LOG IN</div>
        </div>
    </div>
</header>

<div class="container">
    <ul class="dynamic-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
        <li data-ng-repeat="pic in pics" class="grid">
            <img src="{{pic.media.m}}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
        </li>
    </ul>
</div>

