<section id="portfolio" class="bg-light-black" ng-controller="ListingCtrl">


    <div class="container">
        <div class="alert alert-info alert-dismissable" role="alert" ng-hide="vm.strictSearch">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <h4 class="alert-link">{{"listing_alert" | translate}}  <button class="btn btn-primary" data-target="#searchModal" data-toggle="modal">
                <i class="fa fa-pencil-square-o" style="font-size: 2em;"></i></button></h4>


        </div>

        <div class="alert alert-danger alert-dismissable" role="alert" ng-if="vm.users <= 0">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <a class="alert-link">{{ 'listing_strict_notfound_alert' | translate }}</a>

            <button class="btn btn-primary" data-target="#searchModal" data-toggle="modal"><span
                    class="fa fa-cog"></span></button>
        </div>


        <div class="row" ng-show="vm.isSearchMenuOpen">

            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="district">{{"register_district" | translate}}</label>

                        <div class="col-md-4">
                            <input id="district" name="districtinput" ng-model="vm.informations.district" type="text"
                                   placeholder="District" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="politicalview">{{"register_politicalview" | translate}}</label>

                        <div class="col-md-4">
                            <select id="politicalview" ng-model="vm.informations.politicalview"
                                    name="politicalviewselect" class="form-control">
                                <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                <option ng-repeat="politic in vm.politics" value="{{politic}}">{{politic | translate}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="religiousview">{{"register_religiousview" | translate}}</label>

                        <div class="col-md-4">
                            <select id="religiousview" ng-model="vm.informations.religiousview"
                                    name="religiousviewselect" class="form-control">
                                <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                <option ng-repeat="religion in vm.religions" value="{{religion}}">{{religion | translate}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="organization">{{"register_organization" | translate}}</label>

                        <div class="col-md-4">
                            <select id="organization" ng-model="vm.informations.organization" name="organizationselect"
                                    class="form-control">
                                <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                <option ng-repeat="organization in vm.organizations" value="{{organization}}">{{organization | translate}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="drinking">{{"general_drinking" | translate}}</label>

                        <div class="col-md-4">
                            <select id="drinking" ng-model="vm.informations.drinking" name="drinkingselect"
                                    class="form-control">
                                <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                <option value="Yes">{{"general_yes" | translate}}</option>
                                <option value="No">{{"general_no" | translate}}</option>

                            </select>
                        </div>
                    </div>


                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">{{"general_pet" | translate}}</label>

                        <div class="col-md-4">
                            <select id="selectbasic" ng-model="vm.informations.pet" name="selectbasic"
                                    class="form-control">
                                <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                <option value="Yes">{{"general_yes" | translate}}</option>
                                <option value="No">{{"general_no" | translate}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Budget">{{"register_budget" | translate}}</label>

                        <div class="col-md-4">
                            <select id="Budget" ng-model="vm.informations.budget" name="Budget" class="form-control">
                                <option value="Dm" selected>{{"general_dm" | translate}}</option>
                                <option ng-repeat="budget in vm.budgets" value="{{budget}}">{{budget}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="button1id"></label>

                        <div class="col-md-8">
                            <button id="button1id" name="button1id" class="btn btn-info">{{"register_hobbies" | translate}}</button>
                            <button id="button2id" name="button2id" class="btn btn-info">{{"register_sports" | translate}}</button>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="searchButton"></label>

                        <div class="col-md-4">
                            <button id="searchButton" name="searchButton" ng-click="vm.manualSearch()"
                                    class="btn btn-primary">Search!
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>


        <div id="wrapper" class="row" infinite-scroll="vm.addMoreItems()">
            <ul class="dynamic-grid" angular-grid="vm.users" grid-width="300" gutter-size="10" angular-grid-id="gallery"
                refresh-on-img-load="true">
                <li ng-repeat="user in vm.users | orderBy:'-totalMatch'" class="grid">
                    <list-element user="user" vm="vm"></list-element>
                </li>
            </ul>
        </div>

        <div ng-show="vm.isLoading">
            <div class="text-center" style="margin: 0 auto;">
                <i style="color:#fed136; font-size: 12em; margin: 0 auto;" class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </div>
        <!--<div id="wrapper" class="row" infinite-scroll="vm.addMoreItems()">-->
        <!--<div id="columns">-->
        <!--<div class="pin" ng-repeat="user in vm.users | orderBy:'-totalMatch'">-->
        <!--<list-element user="user" vm="vm"> &lt;!&ndash; listing users &ndash;&gt;-->
        <!--</list-element>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="row" infinite-scroll="vm.addMoreItems()">-->
        <!--<span ng-repeat="user in vm.users">-->
        <!--<div ng-if="$index % 3 == 0" class="clearfix"></div>-->
        <!--<div class ="col-md-4 col-sm-4">-->
        <!--<list-element user="user" listingPlace="vm.listingPlace" vm ="vm"> &lt;!&ndash; listing users &ndash;&gt;-->
        <!--</list-element>-->
        <!--</div>-->
        <!--</span>-->
        <!--</div>-->
    </div>
</section>
<!--
<list-modal ng-repeat="user in vm.users | orderBy:'-totalMatch'"
            user="user"></list-modal>   <!-- modals for each user list element-->
<search-modal vm="vm"></search-modal>


<button class="fixed-button btn btn-primary" data-target="#searchModal" data-toggle="modal"> <i class="fa fa-pencil-square-o" style="font-size: 2em;"></i></button>

