
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click = "$dismiss()" data-dismiss="modal"><span class="fa fa-times" aria-hidden="true"></span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel">{{vm.title | translate}}</h3>
    </div>
    <div class="modal-body">

        <p>
            {{vm.textToShow | translate}}
        </p>
    </div>
    <!--<div class="modal-footer">
        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="$dismiss()" role="button">Close</button>
            </div>
        </div>
    </div>-->


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js"></script>
</div>

