<header style=" background-image: url(../img/header-bg-{{vm.backgroundImageIndex}}.jpg)">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">{{"login_login_capital" | translate}}</div>
        </div>
    </div>
</header>

<div class="container">


    <form name="login" class="form-signin" ng-controller="LoginCtrl">
        <!-- alert -->

        <h1 class="form-signin-heading text-muted">{{"login_login_merged" | translate}}</h1>
        <div class="alert alert-danger" role="alert" ng-show="vm.error" >
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">{{"login_error" | translate}}:</span>
            {{"login_checkemail" | translate}}
        </div>

        <input type="text" ng-model="vm.email" class="form-control" placeholder="{{'login_email_text' | translate}}" required=""
               autofocus="">
        <input type="password" ng-model="vm.password" class="form-control" placeholder="{{'login_password_text' | translate}}" required="">
        <a ng-click="vm.openPfModal()">{{"login_cantlogin_text" | translate}}</a>
        <button class="btn btn-lg btn-primary btn-block" ng-disabled="login.$invalid" ng-click="vm.login()" type="submit">
            {{"login_login_button" | translate}}
        </button>
        <button type="button" ng-click="vm.fbLogin()" class="btn btn-lg btn-default btn-block"
                style="background-color: #3b5998;
                font-weight: 700;
            color: #fff;">
            {{"login_facebook_button" | translate}}
        </button>

        <div ng-show="vm.isLoading">
            <div class="text-center" style="margin: 0 auto;">
                <i style="color:#fed136; font-size: 4em; margin: 0 auto;" class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </div>
    </form>

</div>



