<header style=" background-image: url(../img/header-bg-{{vm.backgroundImageIndex}}.jpg)">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">{{'message_messages' | translate}}</div>
        </div>
    </div>
</header>

    <div class="container">
        <h3>{{'message_inbox' | translate}}</h3>
        <hr>
        <div class="row">
            <div class="col-sm-9 col-md-10">
                <!-- Tab panes -->

                <label ng-if="vm.messages <=0 || vm.messages == null">{{'messages_inbox_empty' | translate}}</label>

                <div ng-show="vm.isLoading">
                    <div class="text-center" style="margin: 0 auto;">
                        <i style="color:#fed136; font-size: 12em; margin: 0 auto;" class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>

                <div class="list-group">
                    <div class="row" ng-repeat="message in vm.messages">
                    <a href="" ng-click="vm.open(message)"
                       ng-class="{'row list-group-item read': (message.messages[message.messages.length-1].read === true) || (message.messages[message.messages.length-1].recieverid != vm.user.userid),
                                  'row list-group-item': message.messages[message.messages.length-1].read === false}">
                             <span class="name col-md-4"><strong>{{message.name}}</strong></span>
                        <span class="text-center col-md-4">{{message.messages[message.messages.length-1].content}}</span>
                                <span class="badge">{{message.messages[message.messages.length-1].date | dateWithTimeFormat}}</span></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
