<div>

    <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
       {{"edit_personalinfo_alert" | translate}}
    </div>
    <upload-modal settings="vm.profilePhotoUploadSettings"></upload-modal>

    <h3>{{"edit_personalinfo_title" | translate}}</h3>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-lg-3 control-label">{{"edit_firstname" | translate}}</label>

            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="vm.user.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">{{"edit_lastname" | translate}}</label>

            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="vm.user.lastname">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">{{"edit_email" | translate}}</label>

            <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="vm.user.email" ng-disabled="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">{{"edit_phone" | translate}}</label>

            <div class="col-lg-8">
                <input class="form-control" type="text" ui-mask="(999) 999-9999" ng-model="vm.user.phone">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">{{"edit_birthdate" | translate}}</label>

            <div class="col-lg-8">
                <input class="form-control" ng-model="vm.user.birthdate" type="date" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label"></label>

            <div class="checkbox col-lg-8">
                <label><input type="checkbox" ng-model="vm.user.student" value="">{{"register_areyoustudent" | translate}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label"></label>

            <div class="checkbox col-lg-8">
                <label><input type="checkbox" ng-model="vm.user.listing" value="">{{"edit_listing" | translate}}
                    ?</label>
            </div>
        </div>

        <div class="form-group" style="padding: 5px;">
            <label class="col-lg-3 control-label"></label>
            <div class="col-lg-8">
                <label for="gender-0">
                    <input type="radio" name="gender" ng-model="vm.user.gender" id="gender-0" value="Male" checked
                           ng-required>
                    {{'register_gender_male' | translate}}
                </label>
                <label for="gender-1">
                    <input type="radio" name="gender" ng-model="vm.user.gender" id="gender-1" value="Female"
                           ng-required="">
                    {{'register_gender_female' | translate}}
                </label>
            </div>
        </div>

        <div class="form-group" style="padding: 5px">
            <label class="col-lg-3 control-label"></label>

            <div class="col-lg-8">

                <label for="sexuality-0">
                    <input type="radio" name="sexuality" ng-model="vm.user.sexuality" id="sexuality-0"
                           value="Heterosexuel" checked ng-required>
                    Heterosexuel
                </label>
                <label for="sexuality-1">
                    <input type="radio" name="sexuality" ng-model="vm.user.sexuality" id="sexuality-1"
                           value="Homosexuel" ng-required="">
                    Homosexuel
                </label>
                <label for="sexuality-2">
                    <input type="radio" name="sexuality" ng-model="vm.user.sexuality" id="sexuality-2"
                           value="Bisexuel" ng-required="">
                    Bisexuel
                </label>
            </div>
        </div>

        <div class="form-group" style="margin-top: 5px;">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
        <button  class="btn btn-info" type="button" data-toggle="modal" data-target="#personalPhotos">{{"register_choosepersonalityphotos" | translate}}</button>
            </div>
        </div>

        <div class="form-group" style="margin-top: 10px;">   <!-- repeating same-->
            <label class="col-md-3 control-label"></label>

            <div class="col-md-8">
                <input type="button" class="btn btn-primary" value="{{'edit_savechanges' | translate}}" ng-click="vm.updateProfile(vm.user)">
                <span></span>

            </div>
        </div>

        <h3>{{"edit_blog_title" | translate}} </h3>

        <div class="alert alert-info alert-dismissable" ng-hide="vm.isselfdescriptionexist" style="margin:5px">
            <a class="panel-close close" data-dismiss="alert">×</a>
          {{"edit_talkyourself" | translate}}
        </div>

        <div text-angular ng-model="vm.user.selfdescription"></div>

        <div class="form-group" style="margin-top: 10px;">
            <label class="col-md-3 control-label"></label>  <!-- repeating same-->

            <div class="col-md-8">
                <input type="button" class="btn btn-primary" value="{{'edit_savechanges' | translate}}" ng-click="vm.updateProfile(vm.user)">
                <span></span>

            </div>
        </div>

    </form>


    <div>
        <h3>{{"edit_profilephotos" | translate}}</h3>

        <div class="text-center">

            <input type="button" class="btn btn-primary" value="{{'edit_uploadphoto_button' | translate}}" data-toggle="modal"
                   data-target="#profilePhotoUpload">

            <div class="alert alert-info alert-dismissable" ng-hide="vm.isprofilephotosexist" style="margin:5px">
                <a class="panel-close close" data-dismiss="alert">×</a>
                {{"edit_notuploaded" | translate}}
            </div>
        </div>

        <div class="row" style="margin: 10px;">
            <ul class="dynamic-grid" angular-grid="vm.users" grid-width="150" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="true" >
                <li ng-repeat="image in vm.profilePhotos" class="grid">
                    <a href="" ng-click="vm.Lightbox.openModal(vm.profilePhotos, $index)">
                        <img ng-src="{{image}}" class="img-responsive profile-modal-img">
                    </a>
                </li>
            </ul>
        </div>


    </div>


</div>