<section>
    <div class="container">
        <row>
            <div class="text-center" style="margin: 0 auto;">
                <i style="color:#fed136; font-size: 12em; margin: 0 auto;" class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </row>
        <row class="text-center">
            <div class="text-center" style="margin: 0 auto;">
                <label class="text-center" style="font-size: 3em;">{{funny[random] | translate}}</label>
            </div>
        </row>
    </div>

</section>
