<div>
    <div class="alert alert-info alert-dismissable" ng-if="vm.user.house == null">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
       {{"edit_house_nohousemessage" | translate}}
    </div>
    <upload-modal settings="vm.housePhotoUploadSettings"></upload-modal>
    <div>
        <h3>{{"edit_house_your_house_title" | translate}}</h3>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_rent_price" | translate}}:</label>

                <div class="col-lg-8">
                    <input class="form-control" ng-model="vm.house.price" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_bedrooms" | translate}}:</label> <!-- Select Box -->

                <div class="col-lg-8">
                    <select class="form-control" name="mySelect" id="mySelect"
                            ng-model="vm.house.bedroom" convert-to-number>
                        <option ng-repeat="number in vm.numbers" value="{{number}}">{{number}}</option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_bathrooms" | translate}}:</label> <!-- Select Box -->

                <div class="col-lg-8">
                    <select class="form-control" ng-model="vm.house.bathroom" id="bathrooms"
                            convert-to-number>
                        <option ng-repeat="number in vm.numbers" value="{{number}}">{{number}}</option>


                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_type" | translate}}:</label> <!-- Select Box -->

                <div class="col-lg-8">
                    <select class="form-control" ng-model="vm.house.type" id="propertytype">
                        <option ng-repeat="type in vm.propertyTypes" value="{{type}}">{{type |translate}}</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_currentpeople" | translate}}:</label> <!-- Select Box -->

                <div class="col-lg-8">
                    <select class="form-control" ng-model="vm.house.currentpeoplenumber" id="currently"
                            convert-to-number>
                        <option ng-repeat="number in vm.numbers" value="{{number}}">{{number}}</option>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_desiredpeople" | translate}}:</label> <!-- Select Box -->

                <div class="col-lg-8">
                    <select class="form-control" ng-model="vm.house.desiredpeoplenumber" id="desired"
                            convert-to-number>
                        <option ng-repeat="number in vm.numbers" value="{{number}}">{{number}}</option>
                   </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_genderofpeople" | translate}}:</label>

                <div class="col-lg-8">
                    <select class="form-control" ng-model="vm.house.genderofpeople" id="genderofpeople">
                        <option value="Male">{{"register_gender_male" | translate}}</option>
                        <option value="Female">{{"register_gender_female" | translate}}</option>
                        <option value="Female">{{"register_gender_mixed" | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_availablefrom" | translate}}:</label>

                <div class="col-lg-8">
                    <input class="form-control" ng-model="vm.house.availabledate" type="date" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label"></label>

                <div class="checkbox col-lg-8">
                    <label><input type="checkbox" ng-model="vm.house.furnished" value="">{{"edit_house_isfurnihsed" | translate}}</label>
                </div>
            </div>

            <h3>{{"edit_house_amenities_title" | translate}}</h3>

            <div class="row">
                <label class="col-lg-3 control-label"></label>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.aircon">{{"edit_house_aircondition" | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.washer">{{"edit_house_washer" | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.tv">{{"edit_house_tv" | translate}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.heating">{{"edit_house_heating" | translate}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.disabled" value="">{{"edit_house_disabled" | translate}}</label>
                        </div>
                    </div>


                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.internet">{{"edit_house_internet" | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.hottub">{{"edit_house_hottub" | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.dishwasher" value="">{{"edit_house_dishwasher" | translate}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.pool" value="">{{"edit_house_pool" | translate}}</label>
                        </div>
                    </div>



                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.dryer" value="">{{"edit_house_dryer" | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.parking" value="">{{"edit_house_parking" | translate}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.elevator"
                                          value="">{{"edit_house_elevator" | translate}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>

                        <div class="checkbox col-lg-8">
                            <label><input type="checkbox" ng-model="vm.house.amenities.doorman" value="">{{"edit_house_doorman" | translate}}</label>
                        </div>
                    </div>



                </div>


            </div>


            <h3>{{"edit_house_rules_title" | translate}}</h3>

            <div class="form-group">
                <label class="col-lg-3 control-label"></label>

                <div class="col-lg-8">
                    <textarea class="form-control" ng-model="vm.house.rules" rows="5" id="comment"></textarea>
                </div>
            </div>

            <h3>{{"edit_house_extra_prices_title" | translate}}</h3>

            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_approxbill" | translate}}:</label>

                <div class="col-lg-8">
                    <input class="form-control" ng-model="vm.house.bills" type="number"
                           placeholder="{{'edit_house_approxbill_placeholder' | translate}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_cleaningfee" | translate}}:</label>

                <div class="col-lg-8">
                    <input class="form-control" ng-model="vm.house.cleaningfee" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_extrautility" | translate}}:</label>

                <div class="col-lg-8">
                    <input class="form-control" ng-model="vm.house.extras" type="text"
                           placeholder="{{'edit_house_extras_placeholder' | translate}}">
                </div>
            </div>

            <h3>{{"edit_house_location_title" | translate}}</h3>


            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_country" | translate}}:</label>   <!-- Select Box -->
                <div class="col-lg-8">
                    <select class="form-control" ng-model="vm.informations.country" id="countries">
                        <option ng-repeat="country in vm.countries" value="{{country}}">{{country}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_city" | translate}}:</label> <!-- Select Box -->

                <div class="col-lg-8">
                    <input name="city" class="form-control" places-auto-complete size=30
                           ng-model="vm.house.location.city"
                           component-restrictions="{}"
                           types="['geocode']" on-place-changed="vm.onCityChange()"/>
                </div>

            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_district" | translate}}:</label>

                <div class="col-lg-8">
                    <input places-auto-complete size=80 class="form-control"
                           ng-model="vm.house.location.district" placeholder="{{'edit_house_district' | translate}}"
                           component-restrictions="{}"
                           types="['geocode']" on-place-changed="vm.onDistrictChange()"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-3 control-label">{{"edit_house_address" | translate}}:</label>

                <div class="col-lg-8">
                    <input places-auto-complete size=80 class="form-control"
                           ng-model="vm.house.location.address" placeholder="{{'edit_house_address' | translate}}"
                           on-place-changed="vm.onAddressChange()"
                           component-restrictions="{}"
                           types="['address']"/>
                </div>
            </div>

            <div>
                <ng-map center="{{vm.mapCenter}}" on-drag="vm.onMapDrag()"></ng-map>
            </div>


            <div class="form-group">
                <label class="col-md-3 control-label"></label>

                <div class="col-md-8">
                    <input type="button" class="btn btn-primary" value="{{'edit_savechanges' | translate}}"
                           ng-click="vm.updateHouse(vm.house)">
                    <span></span>
                    <input type="button" class="btn btn-danger" value="{{'edit_house_unlist' | translate}}" ng-click="vm.unlistHouse()">
                    <span></span>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="vm.user.house != null">
        <h3>{{"edit_house_photos_title" | translate}}</h3>

        <div class="text-center">

            <input type="button" class="btn btn-primary" value="{{'edit_uploadphoto_button' | translate}}" data-toggle="modal"
                   data-target="#housePhotoUpload">

            <div class="alert alert-info alert-dismissable" ng-hide="vm.ishousephotosexist" style="margin:5px">
                <a class="panel-close close" data-dismiss="alert">×</a>
                {{"edit_house_nophoto" | translate}}
            </div>
        </div>

        <div class="row" style="margin: 10px;">
            <ul class="dynamic-grid" angular-grid="vm.housePhotos" grid-width="150" gutter-size="10" angular-grid-id="gallery2" refresh-on-img-load="true" >
                <li ng-repeat="image in vm.housePhotos" class="grid">
                    <a href="" ng-click="vm.Lightbox.openModal(vm.housePhotos, $index)">
                        <img ng-src="{{image}}" class="img-responsive profile-modal-img">
                    </a>
                </li>
            </ul>
        </div>

        <!--<ul class="gallery gallery2">-->
            <!--<li ng-repeat="image in vm.housePhotos">-->
                <!--<a ng-click="vm.Lightbox.openModal(vm.housePhotos, $index)">-->
                    <!--<img ng-src="{{image}}" class="thumbnail img-responsive profile-modal-img">-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>



