<!DOCTYPE html>
<html ng-app="app" ng-controller="HtmltopController as vm" lang={{$root.language}}>

<head>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/" />

    <title>flatmater</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet" type="text/css">
    <link href="bower_components/angular-material/angular-material.layouts.css" rel="stylesheet" type="text/css">
    <link href="bower_components/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" type="text/css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css" type="text/css">
    <link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


<!--Google analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-70834022-1', { 'cookieDomain': 'none' });
    </script>


    <!--SumoMe -->
    <script src="//load.sumome.com/"
            data-sumo-site-id="11c97a143f38d47939cf7a7e8bed9589088c2a4a61f04cb4747f55e3cd5c9d94"
            async="async">
    </script>


</head>

<body id="page-top" class="index" ng-controller = "NavbarCtrl as vm" ng-cloak>




<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home"><strong>flatmater</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>


                <!--<li>-->
                    <!--<button class="btn btn-small navbar-btn btn-findsomeone">Test</button>-->
                <!--</li>-->

                <!-- Logged In -->

                <li  ng-show = "vm.isLoggedIn">
                    <!--<a class="" ui-sref="listing">{{'navbar_findsomeone_button' | translate}}</a>-->
                    <button ui-sref="listing" class="btn btn-small navbar-btn btn-findsomeone">{{'navbar_findsomeone_button' | translate}}</button>
                </li>

                <!-- Not Logged In -->

                <li  ng-hide = "vm.isLoggedIn">
                    <!--<a class="" href="" ng-click="vm.navigate('home','register')">{{'navbar_register_button' | translate}}</a>-->
                    <button ng-click="vm.navigate('home','register')" class="btn btn-small navbar-btn btn-findsomeone">{{'navbar_register_button' | translate}}</button>
                </li>

                <li  ng-hide = "vm.isLoggedIn">
                    <a class="" ui-sref="login">{{'navbar_login_button' | translate}}</a>
                </li>


                <li>
                    <a class="" href="" ng-click="vm.navigate('home','howto')">{{'navbar_howitworks_button' | translate}}</a>
                </li>
                <li>
                    <a class="" href="https://www.paypal.me/Flatmater">{{'navbar_donate_button' | translate}}</a>
                </li>

                <li ng-show="vm.isLoggedIn">
                    <a class="" ng-click="vm.resetNotificationCount()" ui-sref="messages"><i class="fa fa-envelope-o" style="font-size: 2em;"></i> <span class="badge" ng-if="vm.messageNotificationsCount != 0">{{vm.messageNotificationsCount}}</span></a>
                </li>
                <li class="dropdown" ng-show="vm.isLoggedIn">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img ng-src="{{vm.user.useravatar}}" style="width: 30px; height:30px;"> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <div class="text-center">
                        <label class="text-center text-muted">
                            {{vm.user.name + " " + vm.user.lastname}}
                        </label>
                        </div>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="edit">{{'navbar_profile_button' | translate}}</a></li>
                        <li><a ui-sref="settings">{{'navbar_settings_button' | translate}}</a></li>
                        <li><a ng-href="#" ng-click="vm.logout()">{{'navbar_logout_button' | translate}}</a></li>
                       <!-- <li role="separator" class="divider"></li> -->
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<ui-view autoscroll="true"></ui-view>


<footer ng-controller = "FooterController as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2015</span>
                <select class="form-control" ng-cloak ng-model="vm.language" ng-change="vm.changeLanguage()" id="languages">
                    <option value="" selected>{{'language_choose' | translate}}</option>
                    <option value="tr">{{'language_turkish' | translate}}</option>
                    <option value="en">{{'language_english' | translate}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/flatmater"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/theflatmatercom-157586457946931"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/flatmater/"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#" ng-click="vm.privacyPolicyModal()">{{"general_privacy_policy" | translate}}</a>
                    </li>
                    <li><a href="#" ng-click="vm.termsOfUseModal()" >{{"general_terms_of_use" | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>





</body>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
<!--<script src="js/bootstrap.min.js"></script>-->

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>
<script src="https://fgnass.github.io/spin.js/spin.min.js"></script>

<!--<script src="js/classie.js"></script>-->
<!--<script src="js/cbpAnimatedHeader.js"></script>-->
<!--<script src="js/dropzone.js"></script>-->


<script src="dest/minified.js"></script>
<!--<script src="bower_components/angular/angular.js"></script>-->
<!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
<!--<script src="bower_components/angular-cookies/angular-cookies.js"></script>-->
<!--<script src="bower_components/angular-resource/angular-resource.js"></script>-->
<!--<script src="bower_components/angular-route/angular-route.js"></script>-->
<!--<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>-->
<!--<script src="bower_components/angular-touch/angular-touch.js"></script>-->
<!--<script src="bower_components/angular-messages/angular-messages.js"></script>-->
<!--<script src="bower_components/angular-material/angular-material.js"></script>-->
<!--<script src="bower_components/angular-aria/angular-aria.js"></script>-->
<!--<script src="bower_components/ng-flow/dist/ng-flow-standalone.js"></script>-->
<!--<script src="js/ui-bootstrap-tpls-0.14.3.js"></script>-->
<!--<script src="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>-->
<!--<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>-->
<!--<script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>-->
<!--<script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>-->
<!--<script src='bower_components/textAngular/dist/textAngular.min.js'></script>-->
<!--<script src="bower_components/ngmap/build/scripts/ng-map.js"></script>-->
<!--<script src="bower_components/ng-facebook/ngFacebook.js"></script>-->
<!--<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>-->
<!--<script src="bower_components/angular-ui-mask/dist/mask.js"></script>-->
<!--<script src="bower_components/angular-translate/angular-translate.js"></script>-->
<!--<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>-->
<!--<script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>-->
<!--<script src="bower_components/angulartics/dist/angulartics.min.js"></script>-->
<!--<script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>-->
<!--<script src="bower_components/angular-md5/angular-md5.js"></script>-->
<!--<script src="bower_components/angulargrid/angulargrid.js"></script>-->


<!--<script src="app/app.core.js"></script>-->
<!--<script src="app/app.module.js"></script>-->

<!--<script src="app/components/components.module.js"></script>-->
<!--<script src="app/components/listmodalinstance.controller.js"></script>-->
<!--<script src="app/components/carousel.controller.js"></script>-->
<!--<script src="app/components/footer.controller.js"></script>-->
<!--<script src="app/components/reportModal/reportModal.controller.js"></script>-->
<!--<script src="app/components/reportModal/report.service.js"></script>-->
<!--<script src="app/components/textShowModal/textShowModal.controller.js"></script>-->
<!--<script src="app/components/htmltop.controller.js"></script>-->

<!--"app/pages/loading/loading.module.js",-->
<!--"app/pages/loading/loading.controller.js",-->
<!--"app/utilities/utils.module.js",-->
<!--"app/utilities/cookies.service.js",-->
<!--"app/utilities/authentication.service.js",-->
<!--"app/utilities/application.service.js",-->
<!--"app/utilities/information.service.js",-->
<!--"app/utilities/passwordmatch.directive.js",-->
<!--"app/utilities/convertToNumber.directive.js",-->
<!--"app/utilities/dropzone.directive.js",-->
<!--"app/utilities/fileupload.directive.js",-->
<!--"app/utilities/date.filter.js",-->
<!--"app/utilities/language.service.js",-->
<!--"app/utilities/randomString.service.js",-->
<!--"app/utilities/scroll.service.js",-->

<!--"app/pages/login/login.module.js",-->
<!--"app/pages/login/login.controller.js",-->
<!--"app/pages/login/passwordForgot/passwordForgot.controller.js",-->

<!--"app/pages/navbar/navbar.module.js",-->
<!--"app/pages/navbar/navbar.contmoller.js",-->


<!--"app/pages/main/main.module.jm",-->
<!--"app/pages/main/main.controllmr.js",-->

<!--"app/pages/register/register.odule.js",-->
<!--"app/pages/register/register.conmtroller.js",-->
<!--"app/pages/register/hobbiesModal/hobbiesModal.directive.js",-->
<!--"app/pages/register/sportsModal/sportsModal.directive.js",-->
<!--"app/pages/register/personalPhotosModal/personalphotosModal.directive.js",-->

<!--"app/pages/listing/listing.module.js",-->
<!--"app/pages/listing/listing.controller.js",-->
<!--"app/pages/listing/listElement/listElement.directive.js",-->
<!--"app/pages/listing/listElement/listModal.directive.js",-->
<!--"app/pages/listing/listing.service.js",-->
<!--"app/pages/listing/searchModal/searchModal.directive.js",-->
<!--"app/pages/listing/listElement/listElement.controller.js"-->

<!--"app/pages/category/category.module.js"-->
<!--"app/pages/category/category.controller.js"-->
<!--"app/pages/category/category.service.js"-->

<!--"app/pages/profile/profile.module.js"-->
<!--"app/pages/profile/modal/profileModal.controller.js"-->
<!--"app/pages/profile/modal/profileModal.directive.js"-->
<!--"app/pages/profile/modal/personality/personality.controller.js"-->
<!--"app/pages/profile/modal/personality/personality.directive.js"-->
<!--"app/pages/profile/modal/house/house.directive.js"-->
<!--"app/pages/profile/modal/house/house.controller.js"-->
<!--"app/pages/profile/modal/about/about.directive.js"-->

<!--"app/pages/profile/edit/edit.module.js"-->
<!--"app/pages/profile/edit/edit.controller.js"-->
<!--"app/pages/profile/edit/edit.service.js"-->
<!--"app/pages/profile/edit/personalinfo/personalinfo.directive.js"-->
<!--"app/pages/profile/edit/houseEdit/houseEdit.directive.js"-->
<!--"app/pages/profile/edit/informationsEdit/informationsEdit.directive.js"-->
<!--"app/pages/profile/edit/uploadModals/uploadModal.directive.js"-->
<!--"app/pages/profile/edit/photoGallery/photoGallery.directive.js"-->
<!--"app/pages/profile/edit/houseEdit/houseEdit.controller.js"-->


<!--"app/pages/profile/profile.controller.js"-->
<!--"app/pages/profile/profile.service.js"-->


<!--"app/pages/test/test.js"-->
<!--"app/pages/test/test.module.js"-->
<!--"app/pages/test/test.controller.js"-->

<!--"app/pages/settings/settings.module.js"-->
<!--"app/pages/settings/settings.controller.js"-->
<!--"app/pages/settings/settings.service.js"-->

<!--"app/pages/messages/messages.module.js"-->
<!--"app/pages/messages/messages.controller.js"-->
<!--"app/pages/messages/messages.service.js"-->
<!--"app/pages/messages/messageModal/messageModal.controller.js"-->

<!--"app/pages/verification/verification.module.js"-->
<!--"app/pages/verification/verification.controller.js"-->
<!--"app/pages/verification/verification.service.js"-->

<!--"app/pages/password/password.module.js"-->
<!--"app/pages/password/password.controller.js"-->
<!--"app/pages/password/password.service.js"-->

<!--"app/components/sendMessageModal/sendMessageModal.controller.js"-->


<script src="//kendo.cdn.telerik.com/2015.3.930/js/kendo.all.min.js"></script>
<!-- Contact Form JavaScript -->
<!--<script src="js/jqBootstrapValidation.js"></script>-->
<!--<script src="js/contact_me.js"></script>-->

<!--&lt;!&ndash; Custom Theme JavaScript &ndash;&gt;-->
<!--<script src="js/agency.js"></script>-->

</html>
