<div class="modal-body">
    <div class="lightbox-nav">
    <button class="close" aria-hidden="true" ng-click="$dismiss()">×</button>
    </div>
    <!-- image -->
    <div class="lightbox-image-container">
        <img class ="img-responsive" lightbox-src="{{Lightbox.imageUrl}}">
    </div>

    <div class="lightbox-nav" >
        <!-- close button -->
    </div>


    <div class="btn-group" ng-if="Lightbox.images.length > 0" style="right: 0px" ng-controller="EditProfileCtrl">
        <button class="btn btn-danger" title="DELETE" ng-click="deletePhoto(Lightbox.imageUrl)">
            {{"general_delete" | translate}}
        </button>

    </div>

</div>
