
        <div class="modal-body">
            <div class="lightbox-nav">
                <button class="close" aria-hidden="true" ng-click="$dismiss()">X</button>
            </div>
            <ul>
                <div >
                    <div class = "lightbox-image-container">
                        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                            <uib-slide  active = "slide.active" ng-repeat="slide in slides">
                                <img ng-src="{{slide.img}}" class = "img-responsive" style="margin:auto;">
                                <div class="carousel-caption">
                                </div>
                            </uib-slide>
                        </uib-carousel>
                    </div>
                   </div>
                </ul>

                </div>
                </div>

